
h1, h2, h3, p {
  text-align: center;
  color: rgb(255, 255, 255);
}


div {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin: 12px auto;
  max-width: 400px;
  background: #2c2323;
}


